<main class="main">
	<aside class="navSide mod-compact">
		<nav class="navSide-scrollWrapper">
			<div class="navSide-item-placeholder"></div>
			<div class="navSide-item is-active">
				<a href="#" class="navSide-item-link is-active">
					<i class="lucca-icon icon-tilesNine"></i>
					<span class="navSide-item-link-title">Section 1</span>
				</a>
			</div>
			<div class="navSide-item">
				<a href="#" class="navSide-item-link">
					<i class="lucca-icon icon-user"></i>
					<span class="navSide-item-link-title">Section 2</span>
				</a>
			</div>
			...
		</nav>
		<div class="navSide-bottomSection">
			<div class="navSide-item">
				<a href="#" class="navSide-item-link" onclick="setActive(event, true)">
					<i class="lucca-icon icon-analytics"></i>
					<span class="navSide-item-link-title">Bottom section</span>
				</a>
			</div>
		</div>
	</aside>
	<section class="main-content">
		<div class="container">
			<div class="card">
				<div class="card-content">
					...
				</div>
			</div>
		</div>
	</section>
</main>