<aside class="navSide mod-compact">
	<nav class="navSide-scrollWrapper">
		<div class="navSide-item">
			<a href="#"class="navSide-item-link is-active">
				<i class="lucca-icon">talk</i>
			</a>
		</div>
		<div class="navSide-item">
			<a href="#"class="navSide-item-link">
				<i class="lucca-icon">user_group</i>
			</a>
		</div>
	</nav>
</aside>
<main class="container">
	<header>
		<h1>Gerard Menvussa</h1>
		<h3>la description du mec</h3>
	</header>
	<section>
		<h1>Chat</h1>
		<ul>
			<li>un message ici</li>
			<li>une reponse la</li>
			<li>un grand monologue</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac turpis. Blandit turpis cursus in hac habitasse platea. Cursus eget nunc scelerisque viverra mauris in. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Quam vulputate dignissim suspendisse in. Eget nulla facilisi etiam dignissim diam. Ultricies integer quis auctor elit sed vulputate mi sit. Est sit amet facilisis magna etiam tempor orci eu lobortis. Convallis a cras semper auctor neque. Urna porttitor rhoncus dolor purus non enim praesent elementum. Tortor posuere ac ut consequat semper. Nec tincidunt praesent semper feugiat nibh.</li>
			<li>Facilisi cras fermentum odio eu. Neque volutpat ac tincidunt vitae semper quis lectus. Sapien pellentesque habitant morbi tristique senectus et netus et. Sodales neque sodales ut etiam sit. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Semper risus in hendrerit gravida. Id cursus metus aliquam eleifend. Congue quisque egestas diam in arcu cursus euismod quis. Diam phasellus vestibulum lorem sed risus ultricies. Amet consectetur adipiscing elit pellentesque habitant. Fringilla phasellus faucibus scelerisque eleifend. Et malesuada fames ac turpis. Vestibulum morbi blandit cursus risus.</li>
		</ul>
	</section>
	<section>
		<input placeholder="tapez du texte ici">
		<button>envoyer</button>
	</section>
</main>