<main class="main mod-sections mod-header">
	<aside class="navSide mod-compact">
		<nav class="navSide-scrollWrapper">
			<div class="navSide-item">
				<a href="#"class="navSide-item-link is-active">
					<i class="lucca-icon">talk</i>
					<span class="navSide-item-link-title">Chat</span>
				</a>
			</div>
			<div class="navSide-item">
				<a href="#"class="navSide-item-link">
					<i class="lucca-icon">user_group</i>
					<span class="navSide-item-link-title">contacts</span>
				</a>
			</div>
		</nav>
	</aside>
	<section class="main-content">
		<header class="header">
			<div class="header-contentLeft">
				<h2>Francois Pignon</h2>
				<div>Un champion du monde</div>
			</div>
		</header>
		<section class="section">
			<ul class="container">
				<li class="u-textRight">il s'appelle Juste Leblanc</li>
				<li class="">ah bon il a pas de prenom</li>
				<li class="u-textRight">je viens de vous le dire</li>
				<li class="u-textRight">Juste Leblanc</li>
				<li class="">...</li>
				<li class="">...</li>
				<li class="u-textRight">Leblanc c'est son nom et c'est Juste son prenom</li>
				<li class="">...</li>
				<li class="u-textRight">Monsieur Pignon, votre prenom a vous c'est Francois, c'est juste ?</li>
				<li class="">oui</li>
				<li class="u-textRight">et bien lui c'est pareil, c'est Juste</li>
			</ul>
		</section>
		<section class="section">
			<div class="textfield mod-material mod-block">
				<input class="textfield-input" type="text">
				<div class="textfield-suffix">
					<button class="actionIcon">
						<i class="lucca-icon">send</i>
					</button>
				</div>
			</div>
		</section>
	</section>
</main>
