<aside class="navSide mod-compact">
	<nav class="navSide-scrollWrapper">
		<div class="navSide-item is-active">
			<a href="#" class="navSide-item-link is-active">
				<i class="lucca-icon">jumping_cc</i>
				<span class="navSide-item-link-title">Clients</span>
			</a>
		</div>
		<div class="navSide-item">
			<a href="#" class="navSide-item-link">
				<i class="lucca-icon">files</i>
				<span class="navSide-item-link-title">Contrats</span>
			</a>
		</div>
		<div class="navSide-item">
			<a href="#" class="navSide-item-link">
				<i class="lucca-icon">analytics</i>
				<span class="navSide-item-link-title">CMRR</span>
			</a>
		</div>
	</nav>
	<div class="navSide-bottomSection">
		<div class="navSide-item">
			<a href="#" class="navSide-item-link">
				<i class="lucca-icon">sliders</i>
				<span class="navSide-item-link-title">settings</span>
			</a>
		</div>
	</div>
</aside>