<section class="card">
	<div class="card-content">
		<h1>Les Robins des bois</h1>
		<h3>lrdb.ilucca.net</h3>
		<p>
			<span class="label">figgo</span>
			<span class="label">pagga</span>
			<span class="label">timmi</span>
			<span class="label">1-10 utilisateurs</span>
		</p>
		<div>
			<div class="textfield mod-longest">
				<lu-api-select class="textfield-input" [selectApiFeeder]="addressFeeder">
					<cc-address-feeder #addressFeeder="ccAddressFeeder"></cc-address-feeder>
				</lu-api-select>
			</div>
		</div>
	</div>
</section>